body{

    margin:0;

    background:#020817;

    font-family:Poppins,sans-serif;

}

.dashboard{

    display:flex;

}

.main-content{

    margin-left:260px;

    padding:35px;

    width:100%;

}

.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
    margin-top:30px;
}